<h1>my bios</h1>
<button><%= link_to 'Create Bio', new_bio_path, class: 'btn-login' %></button>
<% @bios.reverse_each do |bio| %>
  <h3><%= link_to "#{bio.profile.desired_position} - #{bio.created_at.strftime("%d/%m/%Y")}", bio_path(bio) %></h3>
<% end %>
