<div class="container">
  <div class="letter-header">
    <button><%= link_to '<i class="fas fa-arrow-left"></i>'.html_safe, dashboard_path, class: "btn-login" %></button>
    <h2>update <%= @profile.desired_position %> profile</h2>
  </div>
  <%= render "/shared/profile_form" %>
</div>
