$black-primary: #383843;
$black-secondary: #1C1C22;
$black-tertiary: #2C2C33;
$white-primary: #F0F2F5;
$white-secondary: #FFFFFF;
$gradient-primary: linear-gradient(120deg, #B16CEA, #FF5E69, #FF8A56, #FFA84B);
$white-purple: #ddcdea;
