<div class="pages-container">
  <h2> About Us</h2>

  <p>AiApply is the platform that allows you to create a customised cover letter and bio for your LinkedIn profile in no time.
  Just create a profile by providing as much information as possible about your professional experience and education.
  Then if you want to create a cover letter, just select the profile based on which you want letter to be written and
  paste the job description. AiApply will create a cover letter for you in no time. You can also create a bio for your
  LinkedIn profile by selecting the profile and pasting your CV. The rest AiApply will take care of. </p>
</div>
