<div class="container dashboard-container">
  <div class="dashboard-content">
    <div class="dashboard-profiles">
      <%= render template: "profiles/index" %>
    </div>
    <div class="dashboard-letters">
      <%= render template: "letters/index" %>
      <%= render template: "bios/index" %>
    </div>
  </div>
</div>
