<div class="container home-container">
  <h1>I need help writing</h1>
  <% if Profile.count == 0 %>
    <h2><%= link_to 'cover letter', new_profile_path %></h2>
  <% else %>
    <h2><%= link_to 'cover letter', new_letter_path %></h2>
  <% end %>
  <% if Profile.count == 0 %>
    <h2><%= link_to 'bio summary', new_profile_path %></h2>
  <% else %>
    <h2><%= link_to 'bio summary', new_bio_path %></h2>
  <% end %>
</div>
