<div class="container">
  <h2>regenerate <%= @letter.profile.desired_position %> - <%= @letter.company_name %> letter</h2>
  <p>Make sure to add more context to get the best results.</p>
  <%= render "/shared/letter_form" %>
</div>
