<h2>my letters</h2>

<% @letters.each do |letter| %>
  <h3><%= "#{letter.profile.desired_position} - #{letter.company_name}" %></h3>
  <%= link_to "delete", letter_path(letter), data: { turbo_method: :delete } %>
<% end %>


