<h1>my letters</h1>
<p><%= link_to 'Create Letter', new_letter_path, class: 'btn-add' %></p>
<% @letters.reverse_each do |letter| %>
  <h3><%= link_to "#{letter.profile.desired_position} - #{letter.company_name} - #{letter.created_at.strftime("%d/%m/%Y")}", letter_path(letter) %></h3>
<% end %>
