<div class="container">
  <h1>Subsribe and get unlimited access</h1>
    <div class="subscription-card">
      <div class="inner-container">
        <div class="subscription-price">
          <h2>$12.99</h2>
          <h3>   / m</h3>
        </div>
        <p>Generate unlimited letters and bios</p>
        <button class="btn-login">Subscribe</button>
    </div>
  </div>
</div>
