<div class="container">
  <h1>Upgrade and get unlimited lifetime access</h1>
    <div class="subscriptions">
      <div class="subscription-card-2">
        <p>Free</p>
        <div class="inner-container">
          <div class="subscription-price">
            <h2>$0</h2>
            <h3>Lifetime access</h3>
          </div>
          <div class="free-features">
            <p>✓ Generate 3 bios</p>
            <p>✓ Generate 3 letters</p>
          </div>
          <button><%= link_to 'Use for Free', dashboard_path, class:"btn-login" %></button>
        </div>
      </div>

      <div class="subscription-card-1">
        <p>Pro</p>
        <div class="inner-container">
          <div class="subscription-price">
            <h2>$7.99</h2>
            <h3>Lifetime access</h3>
          </div>
          <h2>Generate unlimited letters and bios</h2>
          <button class="btn-signup">Upgrade (coming soon)</button>
        </div>
      </div>
    </div>
</div>
