.btn-signup {
  background-image: $gradient-primary;
  color: white;
  padding: 10px 20px;
  border-radius: 7px;
  text-decoration: none;
  font-size: 16px;;
  display: inline-block;

  cursor: pointer;
  transition: background 0.3s ease;

  &:hover {
    background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), $gradient-primary;
  }
}

.btn-login {
  background-color: $white-primary;
  color:$black-primary;
  padding: 10px 20px;
  border-radius: 7px;
  text-decoration: none;
  font-family: 'Inter', sans-serif;
  font-size: 16px;

  display: inline-block;
  border: none;
  text-decoration: none;

  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;


  &:hover {
    background-color: darken($white-primary, 10%);
    color: lighten($black-primary, 10%);
  }
}

.btn-add {
  background-color: $white-primary;
  color:$black-primary;
  padding: 10px 20px;
  border-radius: 7px;
  text-decoration: none;
  transition: background-color 0.3s ease, color 0.3s ease;

  &:hover {
    background-color: darken($white-primary, 10%);
    color: lighten($black-primary, 10%);
  }
}
