.btn-signup {
  background-image: $gradient-primary;
  color: white;
  padding: 10px 20px;
  border-radius: 7px;
  text-decoration: none;
}

.btn-login {
  background-color: $white-primary;
  color:$black-primary;
  padding: 10px 20px;
  border-radius: 7px;
  text-decoration: none;
}

.btn-add {
  background-color: $white-primary;
  color:$black-primary;
  padding: 10px 20px;
  border-radius: 7px;
  text-decoration: none;
}
