.navbar {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar_links {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  gap: 5rem;
}

.navbar_logo img {
  width: 12rem;
}

.user_email {
  display: flex;
  gap: 1rem;
}
