.navbar {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar_links {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  gap: 5rem;
}

.navbar_logo img {
  width: 12rem;
}

.user_email {
  display: flex;
  gap: 1rem;
}

.pro_badge {
  background-image: $gradient-secondary;
  color: white;
  padding: 10px 20px;
  border-radius: 7px;
  text-decoration: none;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-weight: bold;
}
